<div
  class="container-fluid"
  style="
    background-image: url(./assets/backgrnd-cover.jpg);
    width: 1536px;
    height: 749px;
  "
>
  &nbsp;

  <img
    src="./assets/offside-flag.png"
    style="float: left; width: 400px; height: 300px; margin-top: 400px"
  />

  <div class="row" style="margin-top: 600px">
    <div class="col-md-6" style="text-align: right">
      <button type="button" class="btn btn-warning">
        <a href="./assets/offside_form.html" target="_blank;">
          <h1 style="font-family: emmett; color: black;">Log In / Sign Up</h1>
        </a>
      </button>
    </div>
    <div class="col-md-3" style="text-align: right">
      <button type="button" class="btn btn-warning">
        <a href="./assets/Offside.html" target="_blank;">
          <h1 style="font-family: emmett; color: black">Home</h1>
        </a>
      </button>
    </div>
  </div>
</div>
